*{
    box-sizing: border-box;
}

body{
    background-color: rgb(41, 40, 40);
}
h1{
    color: yellow;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
}
h2{
    color:yellow;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
}
h5{
    color:yellow;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px 
}
p{
    color:white;
    font-family: Arial, Helvetica, sans-serif; 
}

.introBio{
    padding: 10px;
    letter-spacing: 2.5px;
    line-height: 2.5;
    text-align: justify;
}

/* Navigation Bar */
#NavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}

#NavBar li{
    float: left;
}

#NavBar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
 
#NavBar li a:hover{
    background-color: #555;
    color: white;
}

.NavList{
    background-color: red;
}

/* Artist Section */
#artistInfo{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 15px;
    overflow: auto;
    text-align: center;
    
}

.contentMainPic{
    float: right;
    padding: 10px;
}

/* Music Page */

#musicContainer{
   background-color: black;
   content: '';
   display: table;
   clear: both;
   padding-left: 50px;
}

.column{  
    float: left;
    width: 33.33%;
    padding: 40px;
}

.list{
    padding: 20px;
}

.song{
    color: white;
    padding: 5px;
    margin-left: 35px;
}


header{
  background-color: #666;
  padding: 3px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 10px;
  color: white;
}

footer{
  background-color: #666;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 10px;
  color: white;
}

#newsContainer{
    display: flex;
    justify-content: space-between;
    background-color: gray;

}

.parts{
    background-color: rgb(131, 127, 127);
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;

}


.parts > p  h2{
    color: black;
}